/*fonts*/
@font-face {
    font-family: breathpro;
    src: url(fonts/BreathPro.otf);
}
@font-face {
    font-family: keplerstd-semibold;
    src: url(fonts/KeplerStd-Semibold.otf);
}
@font-face {
    font-family: mreavessanot_bold;
    src: url(fonts/MrEavesSanOT-Bold.otf);
}
@font-face {
    font-family: mreavessanot_reg;
    src: url(fonts/MrEavesSanOT-Reg.otf);
}
.font_breathpro{ font-family: breathpro;}
.font_keplerstd-semibold{ font-family: keplerstd-semibold;}
.font_mreavessanot_bold{ font-family: mreavessanot_bold;}
.font_mreavessanot_reg{ font-family: mreavessanot_reg;}

/*images*/
.home_background{ background-image:url("../img/home_background.png");}
.home_logo{ background-image:url("../img/home_logo.png");}
.registry_1{ background-image:url("../img/registry_1.png");}
.registry_2{ background-image:url("../img/registry_2.png");}
.registry_3{ background-image:url("../img/registry_3.png");}

.navbar{
  display: none;
}
.rc-logo{
  width: 100%;
}
.big-nav{
  margin-top: 30px;
  background-color: rgba(255,255,255, .8);
  padding-top: -20px;
}

.background-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.main-img{
  width: 50%;
  padding-bottom: 20px;
}

/*colors*/
.blue{ background-color: #14395B;}
.pink{ background-color: #C6A5B7;}

/*.no-padding{padding: 0;}*/

/*div heights*/
.opening{height: 100vh;}
.big-nav-links-right{
  position: absolute;
  top: 50%;
  right: 2%;
  /*-webkit-transform: translate(0%, 50%);
  transform: translate(0%, 50%);*/
}
.left-side{left: 5%;}
.right-side{right: 5%;}

.banner{height: 25vh;}
.banner-title{
  font-family: keplerstd-semibold;
  color: #C6A5B7;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 150%);
  transform: translate(-50%, 150%);
}
/*.container-fluid{padding: 0}*/
