/*fonts*/
@font-face {
    font-family: breathpro;
    src: url(fonts/BreathePro.otf);
}
@font-face {
    font-family: keplerstd-semibold;
    src: url(fonts/KeplerStd-Semibold.otf);
}
@font-face {
    font-family: mreavessanot_bold;
    src: url(fonts/MrEavesSanOT-Bold.otf);
}
@font-face {
    font-family: mreavessanot_reg;
    src: url(fonts/MrEavesSanOT-Reg.otf);
}
.font_breathpro{ font-family: breathpro;}
.font_keplerstd-semibold{ font-family: keplerstd-semibold;}
.font_mreavessanot_bold{ font-family: mreavessanot_bold;}
.font_mreavessanot_reg{ font-family: mreavessanot_reg;}

/*images*/
.home_background{ background-image:url("../img/home_background.png");}
.home_logo{ background-image:url("../img/home_logo.png");}
.springs{ background-image:url("../img/springs.jpg");}
.registry_1{ background-image:url("../img/registry_1.png");}
.registry_2{ background-image:url("../img/registry_2.png");}
.registry_3{ background-image:url("../img/registry_3.png");}
.slider_1{ background-image:url("../img/slider/slider_1.jpg");}
.slider_2{ background-image:url("../img/slider/slider_2.jpg");}
.slider_3{ background-image:url("../img/slider/slider_3.jpg");}
.slider_4{ background-image:url("../img/slider/slider_4.jpg");}
.slider_5{ background-image:url("../img/slider/slider_5.jpg");}
.slider_6{ background-image:url("../img/slider/slider_6.jpg");}
.slider_7{ background-image:url("../img/slider/slider_7.jpg");}
.slider_8{ background-image:url("../img/slider/slider_8.jpg");}
.slider_9{ background-image:url("../img/slider/slider_9.jpg");}

.slider-pics{
  height: 70vh;
}

.navbar{display: none;}
.navbar-default { background-color: rgba(255,255,255, .8);}
.nav>li>a:hover {background-color: inherit;}
.nav>li>a{letter-spacing: 3px;}
.rc-logo{ width: 100%;}
.rc-logo-brand{ width: 10%;}
.big-nav{
  margin-top: 30px;
  background-color: rgba(255,255,255, .8);
  padding-top: -20px;
}

.background-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.main-img{
  width: 50%;
  padding-bottom: 20px;
}

/*colors*/
.blue{ background-color: #14395B;}
.pink{ background-color: #C6A5B7;}
.navbar-brand.blue-text{
  color: #14395B;
  font-size: 25px;
}

/*.no-padding{padding: 0;}*/

/*div heights*/
.opening{height: 100vh;}
.big-nav-links-right{
  position: absolute;
  top: 50%;
  right: 2%;
  /*-webkit-transform: translate(0%, 50%);
  transform: translate(0%, 50%);*/
}
.left-side{left: 5%;}
.right-side{right: 5%;}
.center-me{
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.banner{height: 85px;}
.banner-title{
  letter-spacing: 4px;
  font-family: keplerstd-semibold;
  color: #C6A5B7;
  padding: 5px 0 0 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  white-space: nowrap;
}
p{
  font-family: mreavessanot_reg;
  color: #14395B;
  font-size: 15px;
}
.top-padding{ padding-top: 30px;}
.section-content{
  padding-top: 30px;
  padding-bottom: 30px;
}
.bigger{ font-size: 25px; }
